<!DOCTYPE html>
<html>
<header>
  <h1><i class="fa fa-terminal"></i> MinaMemes <i class="fa fa-android"></i></h1>
  <p style="text-align:center">There were Tuesdays with Morrie... and then there are Mornings with Mina.</p>
  <h4>Follow me <i class="fa fa-twitter"></i> <a href="https://twitter.com/rah_chung" target="_blank">  @rah_chung</a></h4>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</header>

<body>
<div class="container">
	<ul class="portfolio-items">
    <li class="item">
      <img src="/images/Mpic17.png">
      <div class="date">Mina, Oct 2014</div>
    </li>
    <li class="item">
      <img src="/images/Mpic16.png">
      <div class="date">Mina, Oct 2014</div>
    </li>
    <li class="item">
      <img src="/images/Mpic15.png">
      <div class="date">Mina, Oct 2014</div>
    </li>
		<li class="item">
      <img src="/images/Mpic14.png">
  		<div class="date">Mina, Sept 2014</div>
		</li>

		<li class="item">
      <img src="/images/Mpic13.png">
  		<div class="date">Mina, Sept 2014</div>
		</li>		

		<li class="item">
      <img src="/images/Mpic12.png">
  		<div class="date">Mina, Sept 2014</div>
		</li>

		<li class="item">
      <img src="/images/Mpic11.png">
  		<div class="date">Mina, Sept 2014</div>
		</li>

		<li class="item">
      <img src="/images/Mpic10.png">
  		<div class="date">Mina, Sept 2014</div>
		</li>

		<li class="item">
      <img src="/images/Mpic9.png">
  		<div class="date">Mina, Aug 2014</div>
		</li>

		<li class="item">
      <img src="/images/Mpic8.png">
  		<div class="date">Mina, Aug 2014</div>
		</li>

		<li class="item">
      <img src="/images/Mpic7.png">
  		<div class="date">Mina, Aug 2014</div>
		</li>

		<li class="item">
      <img src="/images/Mpic6.png">
  		<div class="date">Mina, Aug 2014</div>
		</li>

		<li class="item">
      <img src="/images/Mpic5.png">
  		<div class="date">Mina, Aug 2014</div>
		</li>

		<li class="item">
      <img src="/images/Mpic4.png">
  		<div class="date">Mina, Aug 2014</div>
		</li>

		<li class="item">
      <img src="/images/Mpic3.png">
  		<div class="date">Mina, Aug 2014</div>
		</li>

		<li class="item">
      <img src="/images/Mpic2.png">
  		<div class="date">Mina, Aug 2014</div>
		</li>

		<li class="item">
      <img src="/images/Mpic1.png">
  		<div class="date">Mina, Aug 2014</div>
		</li>
	</ul>
</div>
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</html>